* {
margin: 0; /* é uma propriedade CSS que adiciona espaço externo ao redor de um elemento, fora da borda (border). */
padding: 0;  /* é uma propriedade CSS que adiciona espaço interno dentro de um elemento, entre o conteúdo e a borda (border). */
box-sizing: border-box; /* faz com que o padding e a border sejam incluídos na largura e altura totais do elemento. */

/* ┌─── margin ───┐
│  ┌─ padding ─┐ │
│  │ conteúdo  │ │
│  └───────────┘ │
└───────────────┘ */

/* Quando margin ou padding são iguais a 0, não há espaçamento. */

}

